GO_STP_342

###Task 08- Predicting a Startups Profit/Success Rate using Multiple Linear Regression in Python-Download Data Se

Task link: https://www.goeduhub.com/11593/predicting-startups-multiple-regression-startups-dataset

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import sklearn

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score, mean_squared_error

df = pd.read_csv("./dataset/50_Startups.csv")

In [2]:
print(df.head())

   R&D Spend  Administration  Marketing Spend       State     Profit
0  165349.20       136897.80        471784.10    New York  192261.83
1  162597.70       151377.59        443898.53  California  191792.06
2  153441.51       101145.55        407934.54     Florida  191050.39
3  144372.41       118671.85        383199.62    New York  182901.99
4  142107.34        91391.77        366168.42     Florida  166187.94

In [3]:
print(df.tail())

    R&D Spend  Administration  Marketing Spend       State    Profit
45    1000.23       124153.04          1903.93    New York  64926.08
46    1315.46       115816.21        297114.46     Florida  49490.75
47       0.00       135426.92             0.00  California  42559.73
48     542.05        51743.15             0.00    New York  35673.41
49       0.00       116983.80         45173.06  California  14681.40

In [4]:
print(df.shape)

(50, 5)

In [5]:
print(df.dtypes)

R&D Spend          float64
Administration     float64
Marketing Spend    float64
State               object
Profit             float64
dtype: object

In [6]:
print(df.columns)

Index(['R&D Spend', 'Administration', 'Marketing Spend', 'State', 'Profit'], dtype='object')

In [7]:
print(df.corr())

                 R&D Spend  Administration  Marketing Spend    Profit
R&D Spend         1.000000        0.241955         0.724248  0.972900
Administration    0.241955        1.000000        -0.032154  0.200717
Marketing Spend   0.724248       -0.032154         1.000000  0.747766
Profit            0.972900        0.200717         0.747766  1.000000

In [8]:
df.describe()

           R&D Spend  Administration  Marketing Spend         Profit
count      50.000000       50.000000        50.000000      50.000000
mean    73721.615600   121344.639600    211025.097800  112012.639200
std     45902.256482    28017.802755    122290.310726   40306.180338
min         0.000000    51283.140000         0.000000   14681.400000
25%     39936.370000   103730.875000    129300.132500   90138.902500
50%     73051.080000   122699.795000    212716.240000  107978.190000
75%    101602.800000   144842.180000    299469.085000  139765.977500
max    165349.200000   182645.560000    471784.100000  192261.830000

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
y=df['Profit']

In [11]:
x=df.drop(['State','Profit'],axis=1)

In [12]:
print(x.head())

   R&D Spend  Administration  Marketing Spend
0  165349.20       136897.80        471784.10
1  162597.70       151377.59        443898.53
2  153441.51       101145.55        407934.54
3  144372.41       118671.85        383199.62
4  142107.34        91391.77        366168.42

In [13]:
print(y.head())

0    192261.83
1    191792.06
2    191050.39
3    182901.99
4    166187.94
Name: Profit, dtype: float64

In [14]:
print(x.shape,y.shape)

(50, 3) (50,)

In [15]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=.25,random_state=5)

In [16]:
print(x_train.shape)

(37, 3)

In [17]:
print(x_test.shape)

(13, 3)

In [18]:
print(y_train.shape)

(37,)

In [19]:
print(y_test.shape)

(13,)

In [20]:
mvr=LinearRegression()

In [21]:
mvr.fit(x_train,y_train)

LinearRegression()

In [22]:
y_pred = mvr.predict(x_test)

print(y_pred)
print(y_test)
print(x_test)

[ 70492.83606903 100385.73056293 154989.25849904 112416.314301
 100549.97306793 129948.5634965  181441.63789469  59163.86119247
 173067.1718283  117779.33271058  96182.61141612 171206.46282828
  96800.97205924]
42     71498.49
29    101004.64
6     156122.51
19    122776.86
28    103282.38
17    125370.37
2     191050.39
43     69758.98
3     182901.99
21    111313.02
31     97483.56
4     166187.94
32     97427.84
Name: Profit, dtype: float64
    R&D Spend  Administration  Marketing Spend
42   23640.93        96189.63        148001.11
29   65605.48       153032.06        107138.38
6   134615.46       147198.87        127716.82
19   86419.70       153514.11             0.00
28   66051.52       182645.56        118148.20
17   94657.16       145077.58        282574.31
2   153441.51       101145.55        407934.54
43   15505.73       127382.30         35534.17
3   144372.41       118671.85        383199.62
21   78389.47       153773.43        299737.29
31   61136.38       152701.92         88218.23
4   142107.34        91391.77        366168.42
32   63408.86       129219.61         46085.25

In [23]:
mvr.coef_

array([ 0.77794591, -0.02057865,  0.03875207])

In [24]:
mvr.intercept_

48345.57483591894

In [25]:
print("Accuracy is: ", r2_score(y_test,y_pred))

Accuracy is:  0.9732016506221495

In [26]:
print("MSE: ",mean_squared_error(y_test,y_pred))

MSE:  39141382.178383775